# 1/29/21 - This notebook selects and prepares a first LinKS candidate for modeling.

In [ ]:
### libraries
%matplotlib inline

from autoconf import conf
import autolens as al
import autolens.plot as aplt
import autofit as af
import pandas as pd
import numpy as np
from astropy.io import fits

# paths
autoz_path = '/data/sknabel/autoz_lens_model/'
file_path = f'{autoz_path}files/'
csv_path = f'{file_path}csv/'
fits_path = f'{file_path}fits/'
png_path = f'{autoz_path}visuals/png/'
pdf_path = f'{autoz_path}visuals/pdf/'

In [3]:
# load links
links = pd.read_csv(f'{csv_path}latest/links_sample_latest.csv')
print(len(links), links.columns)

39 Index(['Unnamed: 0', 'Unnamed: 0_x', 'GAMA_ID', 'ID', 'RA', 'DEC', 'score',
       'Unnamed: 0_y', 'z1', 'sigma1', 'template1', 'z2', 'sigma2',
       'template2', 'sigma3', 'sigma4', 'R', 'prob', 'error', 'type',
       'type_number', 'lambdar_log_mstar', 'lambdar_mstar',
       'lambdar_log_mstar_error', 'z', 'zlens', 'zsource', 'sigma_lens',
       'sigma_source', 'dlens', 'dsource', 'corrected_stellar_mass', 'P1',
       'P3', 'normalized_score', 'cnn_probability', 'm_half_re', 'sigma_star',
       'theta_e_pm', 'theta_e_sis'],
      dtype='object')

In [13]:
links.sort_values(by='score', ascending=False).head()[['GAMA_ID',
                                                      'ID',
                                                      'score',
                                                      'zlens',
                                                      'zsource',
                                                      'corrected_stellar_mass',
                                                      'theta_e_pm',
                                                     'theta_e_sis']]

,GAMA_ID,ID,score,zlens,zsource,corrected_stellar_mass,theta_e_pm,theta_e_sis
18,323152.0,2967,30.0,0.353286,0.721590,NaN,NaN,NaN
17,250289.0,2730,28.0,0.401214,0.719616,4.664644e+11,0.917868,0.645859
19,3575500.0,1906,26.0,0.232537,0.365195,3.049251e+11,1.296096,0.762649
31,3629152.0,1933,26.0,0.406623,0.787118,4.270558e+11,0.896116,0.659574
11,544226.0,3212,18.0,0.227044,0.649824,1.928528e+11,0.875230,0.725515

## I am selecting G3575500 (1906) with score of	26, redshifts 0.232537 and 0.365195, mass 3.049251e+11, and $\theta_E$	1.296096 and 0.762649